<div class="home-intro">
    <h5 class="meta-title">Halo, Saya Jaka Santana ⸻</h5>
    <div class="jumbo">Bapak-Bapak Fulltimer</div>
    <div class="home-sub-text"> 
        <h3>
        Saat ini saya sibuk menata rumah tangga dan juga suka menulis opini di internet. Cek tulisan terbaru saya di <a href="{{'/notes' | relative_url}}">Notes</a>. Atau ngobrol di <a href="https://twitter.com/jksntn">Twitter</a>.
        </h3> 
    </div> 
</div>
<div class="home-wrapper">
    <div class="home-image">
        <a href="/autopitstop-car-service"><img src="../assets/img/portofolio/autopts1.jpg"></a>
        <div class="home-image-meta">
            <div class="home-image-meta-text"> Autopitstop Car Service</div>
            <div class="home-image-meta-text"> Digital Marketing • 2022</div>
        </div>
    </div>
    <div class="home-image">
        <a href="#"><img src="../assets/img/portofolio/Frame 29.jpg"></a>
        <div class="home-image-meta">
            <div class="home-image-meta-text">2017 24hourproject</div>
            <div class="home-image-meta-text">Photography • 2017</div>
        </div>
    </div>
</div>

